@import "tailwindcss";
@import "aos/dist/aos.css";


:root {
    --text-light: #ffffff;
    --text-primary: #b5b5b5;
    --text-secondary: #d12d2d;
    --color-dark: #1b1b1b;
    --color-brown: #bd9675;
    --color-dark-2: #2e2e31;
    --form-bg: #19191a;
}


body {
    background-color: var(--color-dark);
    background-image: url(/body_bg.png);
    color: var(--text-primary);
    scroll-behavior: smooth;

}

.font-pacifico {
    font-family: "Pacifico", cursive;

}

.font-josefin {
    font-family: "Josefin Sans", sans-serif;
}

.font-oswald{
    font-family: "Oswald", sans-serif;
}

h1,
h2,
h3,
a {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h4,
h5,
h6,
p,
li,
ul {
    font-family: "Josefin Sans", sans-serif;
}

.max-w-common {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 8px;

    @media (width >=64rem) {
        max-width: 1400px;
    }
}

.loading-animation {
    display: inline-block;
    animation: loading 2s alternate;
}

.loading-animation:nth-child(1) {
    animation-delay: 0s;
}

.loading-animation:nth-child(2) {
    animation-delay: 0.1s;
}

.loading-animation:nth-child(3) {
    animation-delay: 0.2s;
}

.loading-animation:nth-child(4) {
    animation-delay: 0.3s;
}

.loading-animation:nth-child(5) {
    animation-delay: 0.4s;
}

.loading-animation:nth-child(6) {
    animation-delay: 0.5s;
}

.loading-animation:nth-child(7) {
    animation-delay: 0.6s;
}

.loading-animation:nth-child(8) {
    animation-delay: 0.7s;
}

.loading-animation:nth-child(9) {
    animation-delay: 0.8s;
}

@keyframes loading {

    0%,
    100% {
        opacity: 5%;
        transform: translateY(0);
    }

    50% {
        opacity: 100%;
        transform: translateY(-2px);
    }

}


@keyframes spin-slow {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 22s linear infinite;
}

.rotating-icon::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, transparent 50%, #d12d2d 50%);
    background-repeat: repeat-x;
    background-size: 16px 1.5px;
    animation: moving-bg 1.5s linear infinite;
}

@keyframes moving-bg {
    0% {
        background-position: 16px 0;
    }

    100% {
       background-position: 0 0;
    }
}