@import "tailwindcss";

.topbar-icon::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    height: 15px;
    width: 15px;
    background-image: url(./assets/welcomeIcon.svg);
    background-repeat: no-repeat;
}